{
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.claude/hooks/rtk-rewrite.sh"
          }
        ]
      }
    ]
  },
  "model": "opus",
  "permissions": {
    "allow": [
      "Bash(ls *)",
      "Bash(rg *)",
      "Bash(fd *)",
      "Bash(bat *)"
    ]
  }
}
